

        input[type=number] {
     
        
            box-sizing: border-box;
            border: none;
            margin-left: 10px;
        }


        body {
            background-color: #2c2626;
            color: #fff;
            font-family: "Open Sans", sans-serif;
            margin: 0;
            padding: 0;
            margin-left: 10px;
            margin-right: 10px;
        }

        button {
            padding: 20px;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #efe7d1;
            cursor: pointer;
            transition: 0.3s;
            background-color: #776b5f;


        }

        g {
            transition: 0.3s;
        }

        button:hover {
            background-color: #d4d4d4;
            color: #000000;
        }

        label span {
            font-size: 20px;
            font-family: 'Roboto', system-ui;
            font-weight: bold;
            background: rgb(254, 247, 229);
            background: -moz-linear-gradient(180deg, rgba(254, 247, 229, 1) 0%, rgb(189, 173, 153) 100%);
            background: -webkit-linear-gradient(180deg, rgba(254, 247, 229, 1) 0%, rgb(189, 173, 153) 100%);
            background: linear-gradient(180deg, rgba(254, 247, 229, 1) 0%, rgb(189, 173, 153) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fef7e5", endColorstr="#d8c6b0", GradientType=1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        b,
        i,
        samp {
            font-family: monospace;
            color: grey;
        }

        .Tf2-logo {
            background: rgb(254, 247, 229);
            background: -moz-linear-gradient(180deg, rgba(254, 247, 229, 1) 0%, rgba(216, 198, 176, 1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(254, 247, 229, 1) 0%, rgba(216, 198, 176, 1) 100%);
            background: linear-gradient(180deg, rgba(254, 247, 229, 1) 0%, rgba(216, 198, 176, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fef7e5", endColorstr="#d8c6b0", GradientType=1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: larger;
            font-family: system-ui;

        }
        select option{
            width:300px;
            overflow: scroll;
        }
